<a href="https://www.kaggle.com/aminizahra/hotel-booking-analysis?scriptVersionId=88418614" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

**This database is taken from the following article:**
    
**Hotel Booking Demand Datasets, written by Nuno Antonio, Ana Almeida, and Luis Nunes for Data in Brief, Volume 22, February 2019.**

**Imports**

In [1]:
import numpy as np 
import pandas as pd

**1-Reading dataset**

In [2]:
df=pd.read_csv('../input/hotel-booking/hotel_booking.csv')

**2-Check basic database information.**

In [3]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

In [5]:
df.shape

(119390, 36)

**3-How many rows does this dataframe have?**

In [6]:
print("Our dataset have ", df.shape[0] ,' rows.')

Our dataset have  119390  rows.

**4-Do we have lost data? If yes, which column has the most missing data?**

In [7]:
count_null=df.isnull().sum()
for i in range(df.shape[0]-2):
    if(count_null[i]>0):
        print('yes, we have at least one missing data.')
        break

yes, we have at least one missing data.

In [8]:
max_null_val=df.isnull().sum().idxmax()
print('The maximum number of Null data is in column *** ',max_null_val,' ***')

The maximum number of Null data is in column ***  company  ***

**5-Remove the company column from the dataframe.**

In [9]:
df=df.drop(['company'], axis = 1)

In [10]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

**6-Which country do most travelers come from?**

**List the 5 countries with the most passengers.**

In [11]:
count_country=df.groupby(by='country')['name'].count()
count_country=count_country.sort_values(ascending=False)
df_count_country=pd.DataFrame(count_country)

print("The most travelers come from:\n ",count_country[:1])

print("\nList the 5 countries with the most passengers.\n",count_country[:5])

The most travelers come from:
  country
PRT    48590
Name: name, dtype: int64

List the 5 countries with the most passengers.
 country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: name, dtype: int64

**7-Who has the most ADR? How much?**

In [12]:
ADR=df.groupby(by='name')['adr'].max()
ADR=ADR.sort_values(ascending=False)
ADR_df = pd.DataFrame(ADR)
print('The most ADR(Average Daily Rate) is:\n',ADR_df.iloc[0])

The most ADR(Average Daily Rate) is:
 adr    5400.0
Name: Daniel Walter, dtype: float64

**8-Specify the mean of the total ADR?** (two decimal places)

In [13]:
num_adr=df['adr'].count()
Avg_adr=df['adr'].sum()/num_adr

print('Average of total Average Daily Rate is:', Avg_adr.round(decimals=2))

Average of total Average Daily Rate is: 101.83

**9-Specify the average number of nights spent.** (two decimal places)

In [14]:
df['all_night']= df.apply(lambda x: x['stays_in_weekend_nights'] + x['stays_in_week_nights'], axis=1)
m = df['all_night'].mean()
np.round(m,2)

3.43

**10-Specify the Name and Email of people who had 5 special requests.**

In [15]:
df_day=df.groupby(by='phone-number')['total_of_special_requests','name','email'].first()


for i in range(81503):
    if df_day.iloc[i][0] == 5:
        print(df_day.iloc[i],"\n\n")

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

total_of_special_requests                    5
name                               Sarah Floyd
email                        Sarah_F@gmail.com
Name: 100-586-7149, dtype: object


total_of_special_requests                            5
name                                     Laura Sanders
email                        Sanders_Laura@hotmail.com
Name: 120-754-3942, dtype: object


total_of_special_requests                         5
name                                 Melinda Jensen
email                        MelindaJensen@zoho.com
Name: 129-892-8585, dtype: object


total_of_special_requests                     5
name                             Angela Hawkins
email                        Angela_H@gmail.com
Name: 198-157-4544, dtype: object


total_of_special_requests                              5
name                                     Cynthia Cabrera
email                        Cabrera.Cynthia@xfinity.com
Name: 280-973-9357, dtype: object


total_of_special_requests                         5
name                                 Matthew Bailey
email                        Matthew_Bailey@aol.com
Name: 285-274-5663, dtype: object


total_of_special_requests                      5
name                                  Sue Lawson
email                        Sue.L52@comcast.net
Name: 287-649-4214, dtype: object


total_of_special_requests                              5
name                                     Taylor Martinez
email                        Taylor.Martinez@hotmail.com
Name: 290-360-7041, dtype: object


total_of_special_requests                     5
name                            Jennifer Weaver
email                        Jennifer_W@aol.com
Name: 341-150-8437, dtype: object


total_of_special_requests                           5
name                                 Lindsey Mckenzie
email                        Lindsey.Mckenzie@att.com
Name: 342-438-6097, dtype: object


total_of_special_requests                          5
name                               Charlotte Acevedo
email                        Charlotte_A@verizon.com
Name: 345-877-4448, dtype: object


total_of_special_requests                     5
name                         Dr. Trevor Sellers
email                             Dr._S@aol.com
Name: 365-005-8392, dtype: object


total_of_special_requests                      5
name                                 Tommy Ortiz
email                        Tommy_O@hotmail.com
Name: 377-098-5937, dtype: object


total_of_special_requests                         5
name                                 Timothy Torres
email                        TTorres@protonmail.com
Name: 422-113-4918, dtype: object


total_of_special_requests                     5
name                          Mrs. Caitlin Webb
email                        Mrs._W@comcast.net
Name: 428-370-6078, dtype: object


total_of_special_requests                           5
name                                   Charles Wilson
email                        Charles_Wilson@yahoo.com
Name: 469-999-0942, dtype: object


total_of_special_requests                           5
name                                   Nichole Hebert
email                        Hebert.Nichole@gmail.com
Name: 474-796-1175, dtype: object


total_of_special_requests                         5
name                                 Michelle Villa
email                        Michelle.Villa@aol.com
Name: 494-968-0905, dtype: object


total_of_special_requests                      5
name                               Michael Smith
email                        Michael.S42@aol.com
Name: 543-085-3867, dtype: object


total_of_special_requests                        5
name                                Michaela Brown
email                        MichaelaBrown@att.com
Name: 548-026-5186, dtype: object


total_of_special_requests                        5
name                                  Holly Arroyo
email                        Arroyo_Holly@mail.com
Name: 552-014-6735, dtype: object


total_of_special_requests                             5
name                                        Mary Nguyen
email                        Nguyen.Mary@protonmail.com
Name: 557-683-4481, dtype: object


total_of_special_requests                    5
name                         Kurt Maldonado MD
email                        KMD15@xfinity.com
Name: 596-909-0721, dtype: object


total_of_special_requests                     5
name                            Denise Campbell
email                        Denise_C@gmail.com
Name: 611-914-5212, dtype: object


total_of_special_requests                           5
name                                   Ashley Edwards
email                        Edwards.Ashley@yahoo.com
Name: 626-492-1882, dtype: object


total_of_special_requests                         5
name                                   Kayla Murphy
email                        Kayla.Murphy@yahoo.com
Name: 645-326-3016, dtype: object


total_of_special_requests                         5
name                                  Tyler Allison
email                        Tyler.A@protonmail.com
Name: 685-168-8139, dtype: object


total_of_special_requests                               5
name                                    Cynthia Hernandez
email                        CynthiaHernandez@xfinity.com
Name: 713-506-8850, dtype: object

**11-What are the most common last name?**

In [16]:
df['last_name'] = df['name'].apply(lambda x : x[x.index(' ') + 1:])
df['last_name'].value_counts()[:5]

Smith       2466
Johnson     1968
Williams    1590
Jones       1420
Brown       1403
Name: last_name, dtype: int64

**12-Who has booked the hotel with the most children and babies?**

In [17]:
max_babies=df['babies'].idxmax()
max_children=df[ 'children'].idxmax()

print(df.iloc[max_children]["name"],
      " has booked a hotel with the largest number of children.")

print(df.iloc[max_babies]["name"],
      " has booked a hotel with the largest number of babies.")

Jamie Ramirez  has booked a hotel with the largest number of children.
Nicholas Parker  has booked a hotel with the largest number of babies.

**13-Specify the phone code of the areas that have the most hotel reservations.** (3 first codes)

In [18]:
phone_code=df['phone-number'].apply(lambda x : x[:3]).value_counts()[:3]

print("3 first codes that have the most hotel reservations :\n", phone_code)

3 first codes that have the most hotel reservations :
 799    168
185    167
541    166
Name: phone-number, dtype: int64

**Finished**